html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Slab', serif;
  background-image: url(https://odysseyonline-img.rbl.ms/simage/https%3A%2F%2Fassets.rbl.ms%2F16967906%2F980x.jpg/2000%2C2000/2Z6U8UBOlBPPcqTP/img.jpg);
  padding: 20px;
}

.container {
  background-color: #778899;
}


header {
  text-align: left;
  line-height: 100px;
  width: 50%;
  color: whitesmoke;
  background-color: #778899;
  font-size: 40px;
  display: flex;
  width: auto;
  height: auto;
}

nav {
  background-color: #778899;
  text-align: right;
  width: 50%;
  color: whitesmoke;
}

a {
  text-decoration: none;
  font-size: 32px;
  color: whitesmoke
}

section {
  display: flex;
  flex-direction: row;
}

#welkom {
  width: 60%;
  font-size: large;
  background-color: #778899;
}

#techno {
  width: 40%;
  font-size: large;
  background-color: #778899;
}

#content {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  align-content:space-around;
}

#git {
  width: 33%;
}

#html {
  width: 33%;
}

#css {
  width: 33%;
}

#js {
  width: 50%;
}

#php {
  width: 50%;
}