body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center
}
nav {
  grid-area:nav ;
}
#welkom{
  grid-area: welkom;
}
#techno {
  grid-area:techno;
}


.container {
  grid-template-columns: 50px 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas: 
    "nav nav nav "
    " welkom welkom welkom"
    "techno techno techno";
}