body {
  font-family: Arial, Helvetica, sans-serif;
  background-color:#C0C0C0;
  box-sizing: border-box;
}

#top {display: flex;
width: auto;
height: auto;
box-sizing: border-box;}

#header {
text-align: left;
line-height: 100px;
width: 50%;
color: whitesmoke;
background-color: #778899;
font-size: 40px;
}

nav {
  background-color: #778899;
  text-align: right;
  box-sizing: border-box;
  float: right;
  width: 50%;
  color: whitesmoke;
}
a {
  text-decoration: none;
  padding: 10px;
  font-size: 32px;
  color: whitesmoke
}

#welkom {
  box-sizing: border-box;
}

#techno {
  box-sizing: border-box;
}
#content {
margin-left: auto;
margin-right: auto;
}
#git {
  float: left;
  width: 33.33%;
  height: 600px;
  padding: 5px;
  text-align: center;
  border: 5px solid whitesmoke;
  box-sizing: border-box;

}
#html {
  float: left;
  width: 33.33%;
  height: 600px;
  padding: 5px;
  text-align: center;
  border: 5px solid whitesmoke;
  box-sizing: border-box;
}

#css {
  float:left;
  width: 33.33%; 
  height: 600px;
  padding: 5px;
  text-align: center;
  border: 5px solid whitesmoke;
  box-sizing: border-box;
}

#js {
  float:left;
  width: 50%;  
  height: 200px;
  text-align: center;
  border: 5px solid whitesmoke;
  box-sizing: border-box;
}

#php {
  float: right;
  width: 50%;  
  height: 200px;
  text-align: center;
  border: 5px solid whitesmoke;
  box-sizing: border-box;
}